@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  display:block;
  margin: 0;
  padding: 0;
  background: #DDD;
  background-color: rgb(225, 230, 247);
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


h1 {
  background-color: #00699C;
  color: white;
  text-align: center;
}

#js-bookmark-app-form {
  background-color: #07ACFB;
  width: 780px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#js-bookmark-app-form .left {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  height: 300px;
}
#js-bookmark-app-form .right {
  position: relative;
  float:right;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

#js-min-stars {
  position: inherit;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 200px;
  height: auto;
  border: 3px solid #73AD21;
}

#js-min-stars p {
  background-color: #4DC5FF;
}

.bookmarks-list {
  background-color:#FF805E;
  width: 780px;
  min-height: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  padding: 0px;
}